*{
padding: 0;
margin: 0;
font-family: 'poppins',serif;

}

.logo{
    height: 60px;
    width: 60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-shadow: 5px 5px 5px lightgrey;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 50px;
}

ul li a{
    text-decoration: none;
    margin-left: 50px;
}

button{
    padding: 5px;
    border: none;
    background-color: rgb(255, 173, 72);
    border-radius: 5px;
}

.down{
    margin-left: 20px;
}

.main{
    width: 100%;
    display: flex;
}

.img_box{
    width: 25%;
}

img{
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.banner_box{
    border: 4px solid orangered;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}